body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #e2ffe6;
    margin: 0;
    padding: 0;
}

.container {
    width: 750px;
    margin: 40px auto;
    background: rgb(180, 208, 170);
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.subtitle {
    text-align: center;
    margin-top: -8px;
    font-size: 16px;
    color: #555;
}

.project-info {
    background: #c0ebc3;
    padding: 15px;
    margin-top: 20px;
    border-left: 4px solid #0078ff;
    border-radius: 5px;
    font-size: 15px;
}

.upload-box {
    margin-top: 25px;
    text-align: center;
}

input[type=file] {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 12px 25px;
    background: #0078ff;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #005fcc;
}

.result-box {
    margin-top: 30px;
    padding: 25px;
    background: #f3f8ff;
    border-radius: 10px;
    border-left: 6px solid #0078ff;
}

.preview {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info p {
    font-size: 15px;
    margin: 6px 0;
}

.error {
    margin-top: 20px;
    padding: 15px;
    background: #ffe6e6;
    border-left: 5px solid red;
    color: red;
    border-radius: 8px;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    color: #444;
    border-top: 1px solid #ddd;
}

.fade-in {
    animation: fadeIn 0.7s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
